In [13]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.ensemble import AdaBoostClassifier

In [4]:
iris = load_iris()
data = pd.DataFrame(data= np.c_[iris['data'], iris['target']],
                     columns= iris['feature_names'] + ['target'])

In [5]:
data.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0

In [6]:
data.target.unique()

array([0., 1., 2.])

In [7]:
data.drop(columns='target',axis=1,inplace=True)

In [8]:
data.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [9]:
target = iris.target

In [11]:
x_train, x_test, y_train, y_test = train_test_split(data, target, test_size=0.2, random_state=0)

In [12]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(120, 4)
(120,)
(30, 4)
(30,)

In [19]:
adaboost = AdaBoostClassifier(n_estimators=70,
                         learning_rate=0.1, random_state=12)
adaboost.fit(x_train, y_train)

AdaBoostClassifier(learning_rate=0.1, n_estimators=70, random_state=12)

In [20]:
print('Train Accuracy-',metrics.accuracy_score(y_train,adaboost.predict(x_train)))

Train Accuracy- 0.9333333333333333

In [21]:
print('Test Accuracy-',metrics.accuracy_score(y_test,adaboost.predict(x_test)))

Test Accuracy- 0.9